<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>PC Mall</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/app.css" />
  <script src="https://kit.fontawesome.com/6b80b94304.js" crossorigin="anonymous"></script>
  <link href="
https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.css
" rel="stylesheet" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto+Condensed:wght@400&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body onload="Load()">
  <header>
    <div class="Header_Container" id="Header_Container">
      <div class="Head_Cont_Left">
        <div class="Head_Item1">
          <select class="Select">
            <option value="English">English</option>
            <option value="Hindi">Hindi</option>
          </select>
        </div>
        <div class="Head_Item2">
          <select class="Select">
            <option value="Ruppe">
              Rupee <i class="fa-solid fa-indian-rupee-sign"></i>
            </option>
            <option value="Dollar">Dollar</option>
          </select>
        </div>
      </div>
      <div class="Head_Cont_Right">
        <div class="Head_Item3"><a href="/">Home</a></div>
        <div class="Head_Item3"><a href="/login">Login</a></div>
        <div class="Head_Item3"><a href="/register">Registration</a></div>
        <div class="Head_Item3">
          <form action="/logout" method="post" id="form">
            <a onclick="document.getElementById('form').submit()">Logout</a>
          </form>
        </div>
        <% if(session.user) {%>
          <div class="flex w-full">
            <i class="fa-solid fa-circle-user"></i>&nbsp;
            <div class="text-red-700 font-bold">
              <%= session.user.user%>
            </div>
          </div>
          <%} %>
            <% if(user) {%>
              <div class="flex w-full gap-3">
                <img src="<%= user.picture %>" height="30px" width="30px" style="border-radius: 50%" alt="profile" />
                <div class="text-red-500 font-bold">
                  <%= user.displayName %>
                </div>
              </div>
              <%} %>
      </div>
    </div>
  </header>

  <!-- Navbar -->
  <nav>
    <div class="Navbar_Container">
      <div class="Navbar_Left">
        <div class="Logo">PC Mall</div>
        <div id="bar" onclick="toggle()">
          <div class="line"></div>
          <div class="line"></div>
          <div class="line"></div>
        </div>
      </div>
      <div class="Navbar_Middle">
        <div class="Search">
          <input type="search" name="Search" id="Search" placeholder="I am shopping for..." />
        </div>
      </div>
      <div class="Navbar_Right">
        <ul>
          <li><i class="fa-solid fa-code-compare"></i> Compare</li>
          <a href="/customer/wishlist/<%= session?.user?._id %>">
            <li><i class="fa-solid fa-heart"></i> Wishlist</li>
          </a>
          <a href="/cart">
            <li>
              <span class="text-center text-xl" id="cart">
                <%= session.cart ? session.cart.totalQty : "" %>
              </span><i class="fa-solid fa-cart-shopping"></i> Cart
            </li>
          </a>
        </ul>
      </div>
    </div>
  </nav>
  <%- body %>
    <!-- Footer section  -->
    <section class="Banner_Container" id="Banner_Container">
      <div class="Banner_Item1">
        <i class="fa-solid fa-trademark"></i> <br />
        <a href="/termcondition"> Terms & conditions</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-solid fa-rotate-left"></i> <br />
        <a href="/returnpolicy"> Return Policy</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-regular fa-life-ring"></i> <br />
        <a href="/supportpolicy"> Support Policy</a>
      </div>
      <div class="Banner_Item1">
        <i class="fa-solid fa-circle-info"></i> <br />
        <a href="/privacypolicy">Privacy Policy</a>
      </div>
    </section>
    <section class="Footer" id="Footer">
      <div class="Footer_Container">
        <div class="Foot_Cont1">
          <div class="Logo">PC Mall</div>
          <div class="Cnt1_Head">
            PC mall is a Multi vendor system is such a platform to build a
            border less marketplace
          </div>
          <div class="Cnt1_Head2">
            <input type="email" name="Email" id="Email" placeholder="Your Email Address.." />
            <span>
              <button id="Btn">Subscribe</button>
            </span>
          </div>
        </div>

        <div class="Foot_Cont2">
          <div class="Cnt2_Head">Contact Info</div>
          <div class="Cnt2_Head2">
            Address: <br />
            Mahavir Swami College Of Engineering And Technology, Vesu , Surat
          </div>
          <div class="Cnt2_Head3">Phone: 1234567890</div>
          <div class="Cnt2_Head4">Email: info@pcmall.com</div>
        </div>

        <div class="Foot_Cont3">
          <div class="Cnt3_Head">Useful Link</div>
          <div class="Cnt3_Head2"><a href="/">PC Mall</a></div>
        </div>

        <div class="Foot_Cont4">
          <div class="Cnt4_Head"><a href="/profile">My Account</a></div>
          <div class="Cnt4_Items">
            <div class="Cnt4_Item"><a href="/">Home</a></div>
            <div class="Cnt4_Item"><a href="/login">Login</a></div>
            <div class="Cnt4_Item"><a href="/Register">Registration</a></div>
            <div class="Cnt4_Item"><a href="/logout">Logout</a></div>
            <div class="Cnt4_Item">
              <button id="Btn2">Apply Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/app.js" type="module"></script>
    <script>
      const Container = document.getElementById("Container");
      const Body = document.getElementById("Body");
      if (Body) {
        Body.style.display = "none";
      }
      const Load = () => {
        if (Container) {
          Container.style.display = "none";
          Body.style.display = "flex";
        }
      };
    </script>
    <script src="
        https://cdn.jsdelivr.net/npm/notyf@3.10.0/notyf.min.js
        "></script>
    <script type="module">
      import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.mjs'

      const swiper = new Swiper('.swiper', {
        // Optional parameters
        direction: 'horizontal',
        loop: true,

        // If we need pagination
        pagination: {
          el: '.swiper-pagination',
        },

        // Navigation arrows
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },

        // And if we need scrollbar
        scrollbar: {
          el: '.swiper-scrollbar',
        },
      });
    </script>
    <script src="/index.js"></script>
</body>

</html>