<div id="Container">
  <div id="Loader"></div>
</div>
<section id="Body">
  <!-- Home -->
  <div class="Home_Container">
    <div class="Home_Cont_Middle"></div>
  </div>
  <section class="Banner" id="Banner">
    <div class="Banner_Head">Featured Products</div>
  </section>
  <section class="Product" id="Product">
    <div class="Product_Container1">
      <% if(productData.length> 0) {%>

        <% productData.forEach((data)=>{%>
          <div class="product_bx">
            <a href="/singleproduct/<%= data._id %>" class="flex justify-center items-center flex-col">
              <div>
                <img src="http://localhost:3000/uploads/<%= data.img[0]%>" alt="img" height="120px" width="120px" />
              </div>
              <div>
                <%= data.name%>
              </div>
              <div class="text-red-700 text-xl font-bold m-2">₹<%= data.price%>
              </div>
            </a>
            <div class="flex gap-5">
              <button class="bg-red-700 text-white text-sm px-5 py-3 rounded-full mt-2 btn"
                data-order="<%= JSON.stringify(data) %>">Add to Cart</button>
              <div><i class="lar la-heart product_like" data-wishproduct="<%= JSON.stringify(data) %>"></i></div>
            </div>
          </div>
          <%})%>
            <%}%>

    </div>
    <!-- <div class="Product_Container">
      <div class="Product_Head">Best Selling</div>
      <div class="Product_Head2">TOP 20</div>
    </div>
  </section>
  <section class="Categories" id="Categories">
    <div class="Categories_Left">
      <div class="Categories_Head">Top 10 Categories</div>
    </div>
    <div class="Categories_Middle">
      <div class="Catg_Mid_Head">View All Categories</div>
      <div class="Catg_Mid_Head2">Top 10 Brands</div>
    </div>
    <div class="Categories_Right">
      <a href="/product">View All Brands</a>
    </div>
  </section>
  <section class="Product" id="Product">
    <section class="Product_Container_It"></section>
  </section> -->
  </section>