<div id="Container">
  <div id="Loader"></div>
</div>
<section id="Body">
  <!-- Home -->
  <div class="Home_Container  h-screen max-w-full">
    <!-- <div class="Home_Cont_Middle"></div> -->
    <!-- Slider main container -->
    <div class="swiper mySwiper -z-10">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="/bg-01.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/bg-03.jpg" alt=""></div>
        <div class="swiper-slide"><img src="/bg-02.jpg" alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <section class="Banner" id="Banner">
    <div class="Banner_Head">Featured Products</div>
  </section>
  <!-- Categories -->
  <div class="flex justify-end items-center flex-row m-2 ml-5 mr-5 gap-3">
    <select id="category" name="categoryId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-40 p-2 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="default">--- Select Category ---</option>
      <% if(categoryData.length> 0) {%>
        <% categoryData.forEach((category)=>{
          %>
          <option value="<%= category._id %>">
            <%= category.categoryName%>
          </option>
          <% }) %>
            <%} %>
    </select>
    <a href="/">
      <button type="button"
        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2  dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Reset</button>
    </a>
  </div>
  <!-- All product -->
  <section class="Product" id="Product">
    <div class="Product_Container1">
      <% if(productData.length> 0) {%>
        <% productData.forEach((data)=>{%>
          <div class="product_bx">
            <!-- Share product -->
            <div class="w-full flex justify-end ">
              <button type="button" data-modal-target="course-modal" data-modal-toggle="course-modal"
                class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm pl-[14px] pr-[7px] py-2.5 text-center flex justify-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 ">
                <svg class="w-4 h-4 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                  viewBox="0 0 24 24">
                  <path
                    d="M17.5 3A3.5 3.5 0 0 0 14 7L8.1 9.8A3.5 3.5 0 0 0 2 12a3.5 3.5 0 0 0 6.1 2.3l6 2.7-.1.5a3.5 3.5 0 1 0 1-2.3l-6-2.7a3.5 3.5 0 0 0 0-1L15 9a3.5 3.5 0 0 0 6-2.4c0-2-1.6-3.5-3.5-3.5Z" />
                </svg>
              </button>
            </div>

            <!-- Main modal -->
            <div id="course-modal" tabindex="-1" aria-hidden="true"
              class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative p-4 w-full max-w-lg max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 md:p-5">
                    <h3 class="text-lg text-gray-500 dark:text-gray-400">
                      Share Product
                    </h3>
                    <button type="button"
                      class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm h-8 w-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-700 dark:hover:text-white"
                      data-modal-toggle="course-modal">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                      </svg>
                      <span class="sr-only">Close modal</span>
                    </button>
                  </div>
                  <!-- Modal body -->
                  <div class="px-4 pb-4 md:px-5 md:pb-5">
                    <label for="course-url" class="text-sm font-medium text-gray-900 dark:text-white mb-2 block">Share
                      the product link below with your friends:</label>
                    <div class="relative mb-4">
                      <input id="course-url" type="text"
                        class="col-span-6 bg-gray-50 border border-gray-300 text-gray-500 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-gray-400 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                        value="<%= BASE_URL %>/singleproduct/<%= data._id %>" disabled readonly>
                      <button data-copy-to-clipboard-target="course-url" data-tooltip-target="tooltip-course-url"
                        class="absolute end-2 top-1/2 -translate-y-1/2 text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800 rounded-lg p-2 inline-flex items-center justify-center">
                        <span id="default-icon-course-url">
                          <svg class="w-3.5 h-3.5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor" viewBox="0 0 18 20">
                            <path
                              d="M16 1h-3.278A1.992 1.992 0 0 0 11 0H7a1.993 1.993 0 0 0-1.722 1H2a2 2 0 0 0-2 2v15a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2Zm-3 14H5a1 1 0 0 1 0-2h8a1 1 0 0 1 0 2Zm0-4H5a1 1 0 0 1 0-2h8a1 1 0 1 1 0 2Zm0-5H5a1 1 0 0 1 0-2h2V2h4v2h2a1 1 0 1 1 0 2Z" />
                          </svg>
                        </span>
                        <span id="success-icon-course-url" class="hidden inline-flex items-center">
                          <svg class="w-3.5 h-3.5 text-blue-700 dark:text-blue-500" aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M1 5.917 5.724 10.5 15 1.5" />
                          </svg>
                        </span>
                      </button>
                      <div id="tooltip-course-url" role="tooltip"
                        class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                        <span id="default-tooltip-message-course-url">Copy to clipboard</span>
                        <span id="success-tooltip-message-course-url" class="hidden">Copied!</span>
                        <div class="tooltip-arrow" data-popper-arrow></div>
                      </div>
                    </div>
                    <button type="button" data-modal-hide="course-modal"
                      class="py-2.5 px-5 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Close</button>
                  </div>
                </div>
              </div>
            </div>

            <a href="/singleproduct/<%= data._id %>" class="flex justify-center items-center flex-col">
              <div>
                <img src="<%=BASE_URL %>/uploads/<%= data.img[0]%>" alt="img" height="120px" width="120px" />
              </div>
              <div class="p-3">
                <%= data.name%>
              </div>
              <div class="text-red-700 text-xl font-bold m-2">₹<%= data.price%>
              </div>
            </a>
            <!-- Ratings -->
            <div class="flex justify-center">
              <% if(ratingData.length ) {%>
                <% ratingData.forEach((rating)=>{%>
                  <% if(rating._id.toString()==data._id.toString()) {%>
                    <% if(Math.floor(rating.avg_rating)==1 ) {%>
                      <% for(i=0;i< Math.floor(rating.avg_rating);i++) {%>
                        <svg class="w-4 h-4 text-red-700 me-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                          fill="currentColor" viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <%} %>
                          <% for(i=0;i< 4;i++) {%>
                            <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-700" aria-hidden="true"
                              xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                              <path
                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                            </svg>
                            <%} %>
                              <%} else if(Math.floor(rating.avg_rating)==2 ) {%>
                                <% for(i=0;i< Math.floor(rating.avg_rating);i++) {%>
                                  <svg class="w-4 h-4 text-red-700 me-1" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                    <path
                                      d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                  </svg>
                                  <%} %>
                                    <% for(i=0;i< 3;i++) {%>
                                      <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-700" aria-hidden="true"
                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 20">
                                        <path
                                          d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                      </svg>
                                      <%} %>
                                        <%} else if(Math.floor(rating.avg_rating)==3 ) {%>
                                          <% for(i=0;i< Math.floor(rating.avg_rating);i++) {%>
                                            <svg class="w-4 h-4 text-red-700 me-1" aria-hidden="true"
                                              xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                              viewBox="0 0 22 20">
                                              <path
                                                d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                            </svg>
                                            <%} %>
                                              <% for(i=0;i< 2;i++) {%>
                                                <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-700"
                                                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                  fill="currentColor" viewBox="0 0 22 20">
                                                  <path
                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                                </svg>
                                                <%} %>
                                                  <%} else if(Math.floor(rating.avg_rating)==4) {%>
                                                    <% for(i=0;i< Math.floor(rating.avg_rating);i++) {%>
                                                      <svg class="w-4 h-4 text-red-700 me-1" aria-hidden="true"
                                                        xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                                        viewBox="0 0 22 20">
                                                        <path
                                                          d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                                      </svg>
                                                      <%} %>
                                                        <% for(i=0;i< 1;i++) {%>
                                                          <svg class="w-4 h-4 text-gray-300 me-1 dark:text-gray-700"
                                                            aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                            fill="currentColor" viewBox="0 0 22 20">
                                                            <path
                                                              d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                                          </svg>
                                                          <%} %>
                                                            <%} else {%>
                                                              <% for(i=0;i< Math.floor(rating.avg_rating);i++) {%>
                                                                <svg class="w-4 h-4 text-red-700 me-1"
                                                                  aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                                                  fill="currentColor" viewBox="0 0 22 20">
                                                                  <path
                                                                    d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                                                                </svg>
                                                                <%} %>

                                                                  <%} %>
                                                                    <div
                                                                      class="text-sm font-medium text-gray-700 dark:text-gray-400 mx-4">
                                                                      <%= rating.rating_count %>
                                                                        ratings
                                                                    </div>
                                                                    <%}%>
                                                                      <%})%>
                                                                        <%}%>

            </div>

            <div class="flex gap-5">
              <button class="bg-red-700 text-white text-sm px-5 py-3 rounded-full mt-2 btn"
                data-order="<%= JSON.stringify(data) %>">Add to Cart</button>
              <!-- Like functionality -->
              <div class="con-like z-auto">
                <input class="like product_like" type="checkbox" <% wishlistData.forEach((like)=>{%>
                <%=like?.productId?._id?.toString()==data._id?.toString() ? "checked" : "" %>
                  <%}) %>
                    data-wishproduct="<%= JSON.stringify(data) %>">
                      <div class="checkmark">
                        <svg xmlns="http://www.w3.org/2000/svg" class="outline resize-like mt-[10px]"
                          viewBox="0 0 24 24">
                          <path
                            d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                          </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" class="filled resize-like mt-[10px]"
                          viewBox="0 0 24 24">
                          <path
                            d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                          </path>
                        </svg>
                        <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                          <polygon class="poly" points="10,10 20,20"></polygon>
                          <polygon class="poly" points="10,50 20,50"></polygon>
                          <polygon class="poly" points="20,80 30,70"></polygon>
                          <polygon class="poly" points="90,10 80,20"></polygon>
                          <polygon class="poly" points="90,50 80,50"></polygon>
                          <polygon class="poly" points="80,80 70,70"></polygon>
                        </svg>
                      </div>
              </div>

            </div>
          </div>
          <%})%>
            <%}%>
    </div>
    <div aria-label="Page navigation example" class="m-3">
      <ul class="flex items-center -space-x-px h-8 text-sm pagination_counter">
        <div
          class="flex items-center justify-center px-3 h-8 ms-0 leading-tight text-gray-500 bg-white border border-e-0 border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white paginationPrev">
          <div class="sr-only">Previous</div>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="M5 1 1 5l4 4" />
          </svg>
        </div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pagination cursor-pointer "
          data-pagination="<%= JSON.stringify({page:1,limit:10}) %>">1</div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pagination cursor-pointer"
          data-pagination="<%= JSON.stringify({page:2,limit:10}) %>">2</div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pagination cursor-pointer"
          data-pagination="<%= JSON.stringify({page:3,limit:10}) %>">3</div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pagination cursor-pointer"
          data-pagination="<%= JSON.stringify({page:4,limit:10}) %>">4</div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white pagination cursor-pointer"
          data-pagination="<%= JSON.stringify({page:5,limit:10}) %>">5</div>
        <div
          class="flex items-center justify-center px-3 h-8 leading-tight text-gray-500 bg-white border border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer paginationNext">
          <div class="sr-only">Next</div>
          <svg class="w-2.5 h-2.5 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 6 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 9 4-4-4-4" />
          </svg>
        </div>
      </ul>
    </div>
    <!-- <div class="Product_Container">
      <div class="Product_Head">Best Selling</div>
      <div class="Product_Head2">TOP 20</div>
    </div>
  </section>
  <section class="Categories" id="Categories">
    <div class="Categories_Left">
      <div class="Categories_Head">Top 10 Categories</div>
    </div>
    <div class="Categories_Middle">
      <div class="Catg_Mid_Head">View All Categories</div>
      <div class="Catg_Mid_Head2">Top 10 Brands</div>
    </div>
    <div class="Categories_Right">
      <a href="/product">View All Brands</a>
    </div>
  </section>
  <section class="Product" id="Product">
    <section class="Product_Container_It"></section>
  </section> -->
  </section>