<div id="Container">
  <div id="Loader">

  </div>
</div>
<section id="Body">
  <div class="flex justify-start items-center ml-20 my-3 gap-2 w-2/5">
    <a href="/" class="text-black"><i class="fa-solid fa-house text-xl"></i></a>
    <span class="text-xl">></span> <span class="text-xl">customer
      > order
    </span>
    </span>
  </div>
  <div class="h-fit w-full flex items-center flex-col my-3 overflow-x-auto ">
    <table class="table-auto border-collapse border border-slate-300 w-10/12 ">
      <thead>
        <tr align="left">
          <th class="border border-slate-300 p-2">Orders</th>
          <th class="border border-slate-300 p-2">Phone</th>
          <th class="border border-slate-300 p-2">Address</th>
          <th class="border border-slate-300 p-2">paymentStatus</th>
          <th class="border border-slate-300 p-2">Status</th>
          <th class="border border-slate-300 p-2">CreatedAt</th>
          <th class="border border-slate-300 p-2">UpdatedAt</th>
          <th class="border border-slate-300 p-2">Invoice</th>
        </tr>
      </thead>
      <tbody>
        <% orderData.forEach(order=>{
          %>
          <tr align="left">
            <td class="border border-slate-300 p-3"><a href="/customer/order/<%= order._id %>" class="text-red-500">
                <%= order._id %>
              </a></td>
            <td class="border border-slate-300 p-3">
              <%= order.phone%>
            </td>
            <td class="border border-slate-300 p-3">
              <%= order.address%>
            </td>
            <td class="border border-slate-300 p-3">
              <%= order.paymentStatus%>
            </td>
            <td class="border border-slate-300 p-3">
              <%= order.status%>
            </td>
            <td class="border border-slate-300 p-3">
              <%= dayjs(order.createdAt).format("DD/MM/YYYY hh:mm A") %>
            </td>
            <td class="border border-slate-300 p-3">
              <%= dayjs(order.updatedAt).format("DD/MM/YYYY hh:mm A") %>
            </td>
            <% if (order.status){%>
              <td class="border border-slate-300 p-3">
                <a href="/customer/invoice/<%= order._id %>">
                  <i class="fa-solid fa-download"></i>
                </a>
              </td>
              <%}%>
          </tr>
          <% })%>
      </tbody>
    </table>
  </div>
</section>