<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC Mall | Wishlist Page</title>
</head>

<body>
    <div class="Product_Container1 mx-2 my-2">
        <% if(wishlistData.length> 0){%>
            <% wishlistData.forEach(product=>{%>
                <div class="product_bx">
                    <a href="/singleproduct/<%= product.productId._id %>"
                        class="flex justify-center items-center flex-col">
                        <div>
                            <img src="<%= BASE_URL %>/uploads/<%= product.productId.img[0]%>" alt="img" height="120px"
                                width="120px" />
                        </div>
                        <div>
                            <%= product.productId.name%>
                        </div>
                        <div class="text-red-700 text-xl font-bold m-2">₹<%= product.productId.price%>
                        </div>
                    </a>
                    <div class="flex gap-5">
                        <button class="bg-red-700 text-white text-sm px-5 py-3 rounded-full mt-2 btn"
                            data-order="<%= JSON.stringify(product.productId) %>">Add to Cart</button>
                        <!-- <div><i class="las la-heart wishlistProduct"
                                data-wishproduct="<%= JSON.stringify(product.productId) %>"></i>
                        </div> -->
                        <!-- Like functionality -->
                        <div class="con-like">
                            <input class="like product_like z-20 wishlistProduct" type="checkbox"
                                data-wishproduct="<%= JSON.stringify(product.productId) %>">
                            <div class="checkmark">
                                <svg xmlns="http://www.w3.org/2000/svg" class="outline resize-like mt-[10px]"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="filled resize-like mt-[10px]"
                                    viewBox="0 0 24 24">
                                    <path
                                        d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                                    </path>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                                    <polygon class="poly" points="10,10 20,20"></polygon>
                                    <polygon class="poly" points="10,50 20,50"></polygon>
                                    <polygon class="poly" points="20,80 30,70"></polygon>
                                    <polygon class="poly" points="90,10 80,20"></polygon>
                                    <polygon class="poly" points="90,50 80,50"></polygon>
                                    <polygon class="poly" points="80,80 70,70"></polygon>
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <%}) %>
                    <%} else {%>
                        <div class="flex justify-center items-center flex-col emptyWishlist">
                            <img src="/wishlist.avif" alt="" height="500px" width="500px">
                            <h1 class="text-black text-2xl">Wishlist is empty!!!</h1>
                            <h2 class="text-black text-xl">Please Go To <a href="/" class="text-red-500">Home</a>
                            </h2>
                        </div>
                        <%} %>
    </div>
</body>

</html>